.radio-btn-flex-gap {
  gap: 25px;
}

.radio-btn-flex-brand {
  display: flex;
  gap: 50px;
}

.course-form-txt {
  font-size: 14px;
  font-weight: 300;
}

/* Multi Select Color Change */

.css-13cymwt-control {
  background-color: transparent !important;
  border: none !important;
}

.img-fluid {
  /* object-fit: cover; */
}


/* retailer account setting changes */

@media screen and (max-width: 1335px) {
  .mm_form_wrapp_retailer {
    width: 98%;
  }

  .mm_form_input_wrapp_retailer {
    width: 65%;
  }
}

@media screen and (max-width: 1335px) {
  .radio-btn-flex-brand {
    flex-direction: column;
    gap: 5px;
  }
}

@media screen and (max-width: 1150px) {
  .mm_form_wrapp_retailer {
    flex-direction: column;
    align-items: baseline;
    gap: 50px;
  }

  .mm_form_input_wrapp_retailer {
    width: 100%;
  }

  .mm_img_upload_wrapp_retailer {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .mm_form_input_wrapp_retailer {
    width: 100%;
  }

  .radio-btn-flex-brand {
    flex-direction: row;
    gap: 42px;
  }



}

@media screen and (max-width:900px) {
  .mm_form_wrapp_retailer {
    align-items: center;
  }
}

@media screen and (max-width:600px) {
  .fs-des-resp2 {
    width: 100%;
  }

  .mall_upload_btn_wrapp-resp {
    width: 100%;
  }
}